In [12]:
a = int(input("Enter No1: "))
b = int(input("Enter No2: "))

print (type(a), type(b))
print(a+b)

Enter No1: 10
Enter No2: 10
<class 'int'> <class 'int'>
20

In [8]:
data = """
Line1 Pakistan \nLine2 Pakistan \nLine3 Pakistan

"""
print(data)

Line1 Pakistan
Line2 Pakistan
Line3 Pakistan

In [24]:
stname = "Syed Usman Ghani"
fname = "Younus Hussain"
roll_no = 300
cont_no = "03452935995"

card = "NED UNIVERSITY \nStudent Name: " + stname + "\nFather's Name: " + fname +\
"\nRoll No: " + str(roll_no) +\
"\nContact No: " + cont_no

print (card)

NED UNIVERSITY
Student Name: Syed Usman Ghani
Father's Name: Younus Hussain
Roll No: 300
Contact No: 03452935995

In [31]:
stname = "Syed Usman Ghani"
fname = "Younus Hussain"
roll_no = 300
cont_no = "0345-2935995"

card = f"""
NED UNIVERSITY
Student Name: \t\t{stname}
Father's Name: \t\t{fname}
Roll No: \t\t{roll_no}
Contact No: \t\t{cont_no}
"""
print(card)

-----------------------------

NED UNIVERSITY
Student Name: 		Syed Usman Ghani
Father's Name: 		Younus Hussain
Roll No: 		300
Contact No: 		0345-2935995

In [36]:
stname = input("Enter Your Name: ")
fname = input("Enter Your Father's Name: ")
roll_no = input("Enter Your Roll No: ")
cont_no = input("Enter Your Cell No: ")

print ("-------------------------------------")

card = f"""
NED UNIVERSITY

Student Name: \t\t{stname}
Father's Name: \t\t{fname}
Roll No: \t\t{roll_no}
Contact No: \t\t{cont_no}
"""
print(card)

Enter Your Name: Syed Usman Ghani
Enter Your Father's Name: Younus Hussain
Enter Your Roll No: 12345
Enter Your Cell No: 03452935995
-------------------------------------

NED UNIVERSITY

Student Name: 		Syed Usman Ghani
Father's Name: 		Younus Hussain
Roll No: 		12345
Contact No: 		03452935995