In [1]:
name = "Syed Usman Ghani"
age = 37
country = "Pakistan"

my_info = "My name is "+name+\
". I am "+str(age)+\
" years old and I live in "+country

print(my_info)

My name is Syed Usman Ghani. I am 37 years old and I live in Pakistan

In [8]:
item = "iphone14 Pro Max"
price = 6500
quantity = 100

total_cost = price * quantity

stat = """
I bought {0}\
 {1}(s) at ${2} each,\
for a total of ${3}
""".format(quantity,item,price,total_cost)

print(stat)

I bought 100 iphone14 Pro Max(s) at $6500 each,for a total of $650000

In [3]:
city = "Karachi"
temperature = 27

print(f"The temperature in {city} is {temperature}°C.")

The temperature in Karachi is 27°C.

In [4]:
first_name = "Syed Usman"
last_name = "Ghani"
birth_year = 1986
current_year = 2023

age = current_year - birth_year

print("My name is %(first_name)s %(last_name)s. I am %(age)d years old." %(first_name,last_name,age))

TypeError: format requires a mapping

In [5]:
first_name = "Syed Usman"
last_name = "Ghani"
birth_year = 1986
current_year = 2023

age = current_year - birth_year

mapping = {"first_name": first_name, "last_name": last_name, "age": age}

print("My name is %(first_name)s %(last_name)s. I am %(age)d years old." %mapping)

My name is Syed Usman Ghani. I am 37 years old.

In [6]:
product = "Apple Macbook M-3"
discount = 25
original_price = 2000

discounted_price = int(original_price * (1 - discount/100))

offer = f"""
LIMITED TIME OFFER! {product} machine which originally costs ${original_price}\
 is now available at Flat {discount}% OFF. Now {product} will cost you just ${discounted_price}.\
 Hurry up and GRAB the offer
"""

print(offer)

LIMITED TIME OFFER! Apple Macbook M-3 machine which originally costs $2000 is now available at Flat 25% OFF. Now Apple Macbook M-3 will cost you just $1500. Hurry up and GRAB the offer